body {
    margin: 0;
}

.nav2,
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav2 img,
.nav img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  transition: transform 0.1s ease;
  transform: scale(1);
}

.nav2 img:hover,
.nav img:hover {
  width: 250px;
  height: 250px;
  object-fit: contain;
  transition: transform 0.1s ease;
  transform: scale(1.5);
}

.nav,
.nav2,
.dot-container {
  background-image: url('images/mandala/swasti.png');
  background-repeat: repeat;
  background-size: auto;
}

.nav,
.nav2,
.dot-container {
    font-family: 'Noto Sans Siddham', sans-serif;
    background-color: #15064e;
    color: whitesmoke;
  }

/**PARALLAX**/

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.four {
transform: translateZ(-9px) scale(2);
filter: blur(3px);
}
    
.clouds {
transform: translateZ(-8px) scale(1.875);
filter: blur(2px);
}
    
.three {
transform: translateZ(-7px) scale(1.75);
filter: blur(2px);
}
    
.two {
transform: translateZ(-6px) scale(1.625);
filter: blur(1px);
}

.one,
.two,
.three,
.clouds,
.four {
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
z-index: -1;
}

.title {
font-size: 0.75rem;
color: whitesmoke;
text-shadow: 0 0 5px black;
}

      /**MANDALA**/
      .dot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
      }

      .dot-container img {
        width: auto;
        height: auto;
        transition: transform 0.3s ease;
      }

      .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .dot-WHITE img:hover {
        content: url("images/mandala/hoverdharmachakra.png");
        width: 150px;
        height: 150px;
        object-fit: contain;
        transform: scale(2.1);
      }

      .dot-BLUE {
        top: calc(50% + 250px);
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .dot-BLUE img:hover {
        content: url("images/mandala/hovervajra.png");
        width: 150px;
        height: 150px;
        object-fit: contain;
        transform: scale(2.1);
      }

      .dot-RED {
        top: calc(50% - 250px);
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .dot-RED img:hover {
        content: url("images/mandala/hoverbeggingbowl.png");
        width: 150px;
        height: 150px;
        object-fit: contain;
        transform: scale(2.1);
      }

      .dot-GREEN {
        top: 50%;
        left: calc(50% + 250px);
        transform: translate(-50%, -50%);
      }

      .dot-GREEN img:hover {
        content: url("images/mandala/hovervisvavajra.png");
        width: 150px;
        height: 150px;
        object-fit: contain;
        transform: scale(2.1);
      }

      .dot-YELLOW {
        top: 50%;
        left: calc(50% - 250px);
        transform: translate(-50%, -50%);
      }

      .dot-YELLOW img:hover {
        content: url("images/mandala/hovercintamani.png");
        width: 150px;
        height: 150px;
        object-fit: contain;
        transform: scale(2.1);
      }

      .backtotop,
      .backtohome {
        text-align: center;
      }

      .backtotop img,
      .backtohome img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        transition: transform 0.1s ease;
        transform: scale(1);
      }

      .backtotop img:hover,
      .backtohome img:hover {
        content: url("images/mandala/hoverback.png");
        width: 60px;
        height: 60px;
        object-fit: contain;
        transform: scale(3);
      }


      html {
        font-size: 52px;
      }
    
      body {
        font-family: 'Noto Sans Siddham', sans-serif;
        background-color: #15064e;
        color: whitesmoke;
      }
    
      html, body {
        height: 100%;
        margin: 0;
      }
.body {
    background-image: url('images/mandala/swasti.png');
    background-repeat: repeat;
    background-size: auto;
  }
  
  
  .white,
  .blue,
  .red,
  .green,
  .yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
  
  .white img,
  .blue img,
  .red img,
  .green img,
  .yellow img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.1s ease;
    transform: scale(1);
  }
  
  .white img:hover,
  .blue img:hover,
  .red img:hover,
  .green img:hover,
  .yellow img:hover {
    width: 250px;
    height: 250px;
    object-fit: contain;
    transform: scale(2);
  }
  
  .white img:hover {
    content: url("images/mandala/hoverdharmachakra.png");
  }
  
  .blue img:hover {
    content: url("images/mandala/hovervajra.png");
  }
  
  .red img:hover {
    content: url("images/mandala/hoverbeggingbowl.png");
  }
  
  .green img:hover {
    content: url("images/mandala/hovervisvavajra.png");
  }
  
  .yellow img:hover {
    content: url("images/mandala/hovercintamani.png");
  }
  
  
  
  .mantra1 {
  text-align: center;
  }

  

  
  
  
    .footer {
      background-image: url('images/mandala/footerswasti.png');
      background-repeat: repeat;
      background-size: auto;
    }